.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  overflow: hidden;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 200;
}

.hidden {
  display: none;
}

.title a {
  cursor: pointer;
  color: white;
  @media screen and (min-width: 48em) {
    font-size: 1.2em;
  }
  // font-weight: bold;
}

.title:focus,
.sidebar-nav-list a,
.mat-toolbar.toolbar a {
  outline: none;
  border: 0;
  cursor: pointer;
  color: white;
}
.space {
  flex: 1 1 auto;
}
.spacer {
  padding: 0 20px;
}
.nav-button {
  padding-left: 1em;
  margin-bottom: 1em;
  display: inline-block;
}
.nav-button.button1 {
  position: absolute;
  bottom: 20%;
}
.nav-button.button2 {
  position: absolute;
  bottom: 10%;
}
.header-nav-list .top-nav-button {
  padding: 0 0.2em;
  cursor: pointer;
  // background: rgba($color: #000000, $alpha: 0.5);
}
.collection i {
  display: inline-block;
  padding-left: 0.25em;
  margin-top: -0.25em;
}
mat-nav-list.header-nav-list a:hover {
  color: #33cc99;
}
mat-nav-list.sidebar-nav-list {
  transition: all 2s ease-in-out;
  [mat-list-item]:hover {
    color: #33cc99;
    position: relative;
    left: 2%;
  }
}
// routerlink active style
.router-link-active {
  color: #33cc99;
}
mat-nav-list.sidebar-nav-list .router-link-active {
  color: #33cc99;
  position: relative;
  left: 2%;
}
