section {
  width: 98%;
  margin: 2em auto;
  // position: relative;
  z-index: -1;

  @media screen and (min-width: 48em) {
    width: 80vw;
  }
  @media screen and (min-width: 64em) {
    width: 700px;
  }
  @media screen and (min-width: 1441px) {
    width: 1024px;
    font-size: 20px;
  }
}
.container {
  // position: absolute;
  margin: 2em auto;
  width: 100%;
}
.mat-card-content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.mat-form-field input,
.mat-form-field textarea {
  font-size: 20px;
  @media screen and (min-width: 1441px) {
    font-size: 25px;
  }
}
.mat-form-field {
  line-height: 1.5;
  width: 100%;
}
.mat-card-actions {
  text-align: center;
}
.mat-card-actions button {
  color: #eeeded;
  font-size: 1.2em;
  text-shadow: rgb(10, 9, 9);
}
span.header-title-span {
  border-bottom: 2px solid gold;
}
.mat-card {
  position: initial;
}
mat-icon.action-icon {
  cursor: pointer;
}
