/* You can add global styles to this file, and also import other style files */
@import './normalize.scss';

$card-bg-color: #dddddd;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.507);
}
a {
  text-decoration: none;
}
// material card
mat-card-header.header > div.mat-card-header-text {
  margin: 0 auto;
  // color: #ffffff;
}

.mat-card {
  background: $card-bg-color;
  box-shadow: $card-bg-color 5px 3px 3px;
  position: initial;
}

// material menu panel
.mat-menu-panel {
  width: 200px;
  // margin-top: 2.5em;
  // z-index: 1;
}

// material dropdown menu
.mat-menu-content {
  background: rgba($color: #7e1806, $alpha: 0.8);
  .mat-menu-item {
    color: #ffffff;
  }
  .mat-menu-item:hover {
    font-size: 120%;
    // color: rgba($color: #fff, $alpha: 0.1);
  }
}
// button text
button.mat-raised-button {
  font-size: 18px;
  @media screen and (min-width: 40em) {
    font-size: 16px;
  }
}
// side-nav
mat-sidenav.sidenav {
  background: #7e1906;
}
