<footer class="footer">
  <div class="footerImageLogo">
    <a (click)="scrollMeHome('home')"
      ><img src="../../../assets/images/icon_sriTilak.png" alt="icon"
    /></a>
  </div>
  <div class="footerCopyright">
    <p>
      परिकलपना तथा परिवर्धन: <a href="https://rsi2940.github.io/">ऋषि खतिवडा</a>
    </p>
    <p>
      Design and Development:
      <a href="https://rsi2940.github.io/">Rishi Khatiwada</a>
    </p>
    <p>
      <span>&copy;copyright 2018 </span>
      <span>&copy;सर्वाधिकार सुरक्षित 2018</span>
    </p>
  </div>
  <div class="leftover"></div>
</footer>
