<div id="home"></div>
<section class="banner">
  <div class="top">
    <p class="top-p" lang="sa">श्री लक्ष्मीहयवन परब्रह्मणे नम:</p>
    <div class="imageWrapper">
      <p class="image-p" lang="sa">श्रीमते रामानुजाय नम:</p>
      <img
        src="../../../assets/images/sritilak/urdhwapundraOptimized.png"
        alt="urdhwapundra"
      />
      <p class="image-p" lang="sa">श्रीवादिभीकर महागुरवे नम:</p>
    </div>
    <p class="top-p" lang="sa">श्री योगिराज जगद्‌गुरवे नम:</p>
  </div>
  <div class="headerWrapper">
    <div class="left"></div>
    <div class="middle">
      <pre lang="sa">
      वन्दे गोविन्दतातौ मुनिमथ मनवै लक्ष्मणार्य महान्तं ।
      ध्यायेयं यामुनार्यं मम हृदि तनवै राममेवाभियायाम् ।।
      पद्माक्षंप्रेक्षिषीय प्रथममपि मुनिं नाथमीडे शठारिं ।
      स्तौमि प्रेक्षेय लक्ष्मीं शरणमशरण: श्रीधरं संश्रयेयम् ।।१।।
      </pre>
      <pre lang="sa">
                      एतानि तानि भुवनत्रयपावनानि ।
                      संसाररोग शकलीकरणौषधानि ।।
                      जिव्हातले मम लिखानि यथाशिलायां ।
                      रामानुजेति चतुराण्यमृताक्षराणि ।।२।।
      </pre>
      <pre lang="sa">
      अथगोष्ठीं गरिष्ठानां अधिष्ठाय सुमेधसाम् ।
      वाक्यालंकृतिवाक्यानां व्याख्यातारं नमामि तम् ।।३।।
      </pre>
      <pre lang="sa">
                      गोदानदक्षं विनयैर्विलक्ष्यं ।
                      परेऽपि सौमित्रितया चरन्तम् ।।
                      आचार्यवर्यं करणैरहार्यं ।
                      तं नौमि नित्यं कमलाक्षसूरिम् ।।४।।
      </pre>
      <pre lang="sa" class="descriptionText">
            श्रीमद्वेदमार्गप्रतिष्ठापनाचार्योभयवेदान्तप्रवर्तकाचार्य
            जगद्‌गुरु श्रीभाष्यकार भगवत्पाद श्री रामानुजाचार्य
            संबद्ध श्री रामानुजापरावतार श्री वरवरमुनिप्रसादित ।
            अष्टदिग्गजान्तर्गतान्यतम श्री काञ्ची प्रतिवादिभयङ्करपीठस्थ
            नेपालदेशीय आद्यजगद्‌गुरु आलवार कल्प आवालब्रह्मचारी
            अष्टाङ्गयोगनिपुण गोदुग्धहारी
            श्री योगिराजेत्युपनामधन्यानन्तश्रीविभूषणेनालंकृत
            श्री कमलनयनाचार्य स्वामी पादानां
            श्री मुखोल्लासार्थमेतत् सञ्जाल पृष्ठम् ।।
      </pre>
    </div>
    <div class="right"></div>
  </div>
</section>
<main>
  <section class="latestPosts">
    <h2 class="latestPost-title">
      <span class="header-title-span">नयाँ लेखहरु</span>
    </h2>
    <div class="latestPosts">
      <div class="wrapper" *ngFor="let post of (posts$ | async)">
        <mat-card class="card" routerLink="blog/{{post.id}}">
          <mat-card-header class="header">
            <mat-card-title>
              <h1>
                <span>{{
                  post.title.length > 15
                    ? (post.title | slice: 0:15) + '...'
                    : post.title
                }}</span>
              </h1>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="author">
            <h4>
              <small *ngIf="post.author">{{ post.author }}</small
              ><br /><small>{{ post.published.toDate() | date }}</small>
            </h4>
          </mat-card-content>
          <mat-card-content class="para1">
            <p *ngIf="post.content.para1">
              {{
                post.content.para1.length > 75
                  ? (post.content.para1 | slice: 0:75) + '...'
                  : post.content.para1
              }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="latestPost-button">
      <button mat-raised-button color="accent" [routerLink]="['/blog']">
        थप लेखहरु
      </button>
    </div>
  </section>

  <section class="videos">
    <h2 class="videoTitle"><span class="header-title-span">सत्संग</span></h2>
    <div class="videoWrapper">
      <div class="video">
        <iframe
          title="yatiray stotra explained"
          src="https://www.youtube.com/embed/j2k8KoTMwHQ"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <p>यतिराज स्तोत्र, भावार्थ</p>
      </div>
      <div class="video"><!-- insert more Iframe --></div>
      <div class="video"><!-- insert more Iframe --></div>
    </div>
    <div class="videoTitle">
      <button mat-raised-button color="accent" [routerLink]="['/videos']">
        थप भिडियोहरु
      </button>
    </div>
  </section>
</main>
<app-feedback></app-feedback>
